<div id="admin">

    <h3>Hi Admin {{user.firstName}} {{user.lastName}}, welcome back!</h3>
</div>
<br><br>
<section id="product management">

    <a href="/products/add">Create a Product</a>

    <div class="list">

        {{#each products}}
        <div>
            <p>{{this.name}}</p>
            <img src="../img/{{this.src}}"><br>
            <a href="">
                <p>{{this.desc}}</p>
            </a>
            {{#if this.hot}}
            <p>BestSellers</p>
            {{/if}}
            <p>CDN$ {{this.price}}</p>

            <a href="/products/update/{{this.id}}" class="update-delete-button">Update</a> &nbsp;&nbsp;&nbsp;
            <a href="/products/delete/{{this.id}}?method=DELETE" class="update-delete-button">Delete</a>

        </div>

        {{/each}}

    </div>




</section>