<div id="product-detail">

    <div id="image">


        <img src="../../public/img/{{src}}">
    </div>
    <div id="detail">
        <form method="POST" action="/orders/add">
        <input type="text" name="name" readonly value="{{name}}"><br><br>
        <a href="/products/detail/{{this.id}}">{{this.desc}}</a>
        {{#if hot}}
        <h6>BestSellers</h6>
        {{/if}}
        
        CDN $ <input type="number" name="price" readonly value="{{price}}"><br><br>
        Quantity: <input type="number" name="qty" min="0"> 
        
        <h6>Now {{quantity}} left in stock.</h6>

        <input type="submit" value="Add To Cart"><br><br>
        
        <a href="/orders/cart" style="text-decoration: underline;">Go To Your Cart</a>
        </form>

    </div>



</div>