<div id="product-detail">

    <div id="image">


        <img src="../../public/img/{{src}}">
    </div>
    <div id="detail">
        <p name="name">{{name}}</p>
        <p name="price">{{price}}</p>
        <a href="/products/detail/{{this.id}}">{{this.desc}}</a>
        {{#if hot}}
        <p>BestSellers</p>
        {{/if}}
        <form method="POST" action="/orders/add"></form>
        <p>CDN$ {{price}}</p>
        <p>Now {{quantity}} left in stock.</p>
        <p>Quantity:
            <input type="number" name="quantity" value="1" min="0" max="{{quantity}}">
        </p>
        <input type="submit" value="Add To Cart"><br><br>
        <a href="/orders/cart" style="text-decoration: underline;">Go To Your Cart</a>
        </form>

    </div>



</div>