<div id="product-detail">

    <div id="image">
        <img src="../img/{{src}}">
    </div>
    <div id="detail">
        <div>{{name}}</div>
        <div>{{price}}</div>
        <div>{{desc}}</div>
        {{#if hot}}
        <p>BestSellers</p>
        {{/if}}
        <p>CDN$ {{price}}</p>
    </div>


</div>