<banner>
    <h2 style="margin-top: 20px">Amazon BestSellers</h2>
    <h4>Our most popular products based on sales. Updated hourly.</h4>
</banner>

    <form method="POST" action="/products/search">
        <label>Search By Category</label>
        <select name="search">
            <option value="">All Products</option>
            <option value="Smart Home">Smart Home</option>
            <option value="Devices">Devices</option>
            <option value="Books">Books</option>
        </select>
        <input type="submit" value="Search">
    </form> <br><br>

<div id="pros">
    <div id="sidebar">
        <h4><a href="/products">All Products</a></h4>
            <a href="/products">Amazon Devices</a>
        
            <a href="/">Books</a>
            <a href="/">Baby's Clothing</a>
    </div>
        
    <div class="list">
        {{#each list}}
        <div class="listDetails">
            <img src="../img/{{this.src}}"><br>
            <p>{{this.name}}</p>
            <p><a href="/products/detail/{{this.id}}">{{this.desc}}</a></p>
            {{#if this.hot}}
                <p>BestSellers!</p>
            {{/if}}
            <p>CDN$ {{this.price}}</p>
           
        </div>
        {{/each}}
    </div>
</div>